/*==============================
GLOBAL STYLES
==============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --black: #333;
    --white: #fff;
    --accent: #DB0008;
}

/*==============================
 PAGE LAYOUT
==============================*/

/* full screen, center on page */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
}

/*==============================
 NAVIGATION
==============================*/

/* header section fixed top left */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* adjust the logo within header */
.logo {
    position: relative;
    max-width: 90px;
}

/* flex links */
header ul {
    list-style: none;
    position: relative;
    display: flex;
}

/* spacing and style */
header ul a {
    display: inline-block;
    color: var(--black);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

/*==============================
 CONTENT TEXT
==============================*/

/* flex text left, img right */
.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* keep text contained  */
.content .textBox {
    position: relative;
    max-width: 700px;
}

.content .textBox h2 {
    color: var(--black);
    font-size: 3.35em;
    line-height: 1.4em;
    font-weight: 600;
}

.content .textBox span {
    color: var(--accent);
    font-weight: 800;
}

.content .textBox p {
    margin-top: 1em;
    color: var(--black);
}

/* use like a button */
.content .textBox a {
    display: inline-block;
    margin-top: 2em;
    padding: 10px 40px;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: var(--accent);
}

/*==============================
 CONTENT IMAGE
==============================*/

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

/* larger tilted image */
.imgBox img {
    max-width: 360px;
    transform: rotate(-5deg);
}

.bg-circle {
    
}

/*==============================
 THUMBNAIL IMGAGES
==============================*/

/* traslateX() sends to bottom of screen */
.thumb {
    position: absolute;
    bottom: -130px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    margin-top: 50px;
}

.thumb li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.thumb li img {
    max-width: 130px;
}

/* HOVER EFFECTS */

.thumb li:hover {
    transform: translateY(-25px);
}

/*==============================
 SOCIAL ICONS
==============================*/

/* fix to right sight */
.socialIcons {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-60%);
}

/* style the icons */
.socialIcons li {
    display: inline-block;
    list-style: none;
    margin: 15px 0;
}

/* icon colors */
.socialIcons li a i  {
    color: var(--black);
}




/*==============================
 MEDIA QUERIES
==============================*/

/* @780 */